.form-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 12px;
}

.left-margin {
    margin-left: 12px;
}

.mdl-chip {
    margin-top: 15px;
    margin-left: 8px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tři rovnoměrné sloupce */
    gap: 20px;
    /* Mezery mezi kartami */
    max-width: 1000px;
    /* Maximální šířka kontejneru */
    margin: 0 auto;
    /* Centrovat kontejner */
}

.demo-card-square.mdl-card {
    width: 330px;
}


.title_bestsellers {
    text-align: center;
    /* Horizontální centrování textu */
    margin: 0;
    /* Odstraní výchozí okraje */
    padding: 0;
}

.mdl-card__media {
    position: relative;
    width: 330px;
    /* Šířka obrázku */
    height: 450px;
}

.mdl-card__media img {
    width: 100%;
    /* Aby obrázek zabíral celý rodičovský element */
    display: block;
    /* Zabrání mezerám okolo obrázku */
}

.mdl-card__actions {
    height: 30px;
}

.text-container {
    max-width: 900px; /* Nastavte maximální šířku textového kontejneru podle potřeby */
    
}

.title_book{
    margin-top: 60px;
}

.mdl-list__item{
    padding: 0px;
    min-height: 20px;
}

.book_image {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px; /* Zmenšit mezery mezi kartami */
    max-width: 1000px;
    margin: 0 auto;
    align-items: start; /* Zarovnat vrchol všech prvků */
}

.grid-container_book {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.mdl-layout-title a{
    color: white;
    text-decoration: none;
}