.form-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 12px;
}

.left-margin {
    margin-left: 12px;
}

.mdl-chip {
    margin-top: 15px;
    margin-left: 8px;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tři rovnoměrné sloupce */
    gap: 20px;
    /* Mezery mezi kartami */
    max-width: 1000px;
    /* Maximální šířka kontejneru */
    margin: 0 auto;
    /* Centrovat kontejner */
}

.demo-card-square.mdl-card {
    width: 330px;
}


.title_bestsellers {
    text-align: center;
    /* Horizontální centrování textu */
    margin: 12px;
    /* Odstraní výchozí okraje */
    padding: 0;
}

.title_no_data {
    text-align: center;
    /* Horizontální centrování textu */
    margin: 12px;
    /* Odstraní výchozí okraje */
    padding: 65px;
    
}

.mdl-card__media {
    position: relative;
    width: 330px;
    /* Šířka obrázku */
    height: 450px;
}

.mdl-card__media img {
    width: 100%;
    /* Aby obrázek zabíral celý rodičovský element */
    display: block;
    /* Zabrání mezerám okolo obrázku */
}

.mdl-card__actions {
    height: 30px;
}

.text-container {
    max-width: 900px; /* Nastavte maximální šířku textového kontejneru podle potřeby */
    
}

.title_book{
    margin-top: 60px;
}

.mdl-list__item{
    padding: 0px;
    min-height: 20px;
}

.book_image {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px; /* Zmenšit mezery mezi kartami */
    max-width: 1000px;
    margin: 0 auto;
    align-items: start; /* Zarovnat vrchol všech prvků */
}

.grid-container_book {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.mdl-layout-title a{
    color: white;
    text-decoration: none;
}

.top_5_books {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Tři rovnoměrné sloupce */
    gap: 20px;
    /* Mezery mezi kartami */
    max-width: 1000px;
    /* Maximální šířka kontejneru */
    margin: 0 auto;
    /* Centrovat kontejner */
    margin-top: 15px;
}

.top_5_books .mdl-card__media {
    position: relative;
    width: 200px;
    height: 250px;
}

.top_5_books .mdl-card {
    width: 200px;
}

.tops-of-books{
    margin-left: 138px;
    font-size: 20px;
    margin-top: 30px;
}

.upload_book{
    margin-left: 75px;
    font-size: 20px;
    margin-top: 20px;
    
}

.spinner {
    border: 16px solid rgb(96,125,139); 
    border-top: 16px solid rgb(255,64,129);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.spinner_II{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 60px;
}

.mdl-data-table {
    /* border: 16px solid rgb(96,125,139);  */
    /* border-top: 16px solid rgb(255,64,129); */
    /* margin-right: 185px; */
    /* Horizontální centrování textu */
    padding: 0;
    margin-top: 18px;
}

.title_upload {
    /* margin-left: 130px; */
    /* Horizontální centrování textu */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.mdl-textfield{
    margin-left: 80px;
    display: block;
    margin-bottom: 5px; /* Volitelně přidá mezery mezi políčky */
}

.center_div{
    display: flex; 
    justify-content: center;
}
/* .title_your_upload {
    margin-right: 420px;
    padding: 0;
}

/* .next_side{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
} */
